##PASS,CONTINUE,BREAK

In [2]:
l=[1,2,3,4,5,6]

In [3]:
print(l)
for i in l:
  if i%2==0:
    print(i)
    pass
    print(i**2)

[1, 2, 3, 4, 5, 6]
2
4
4
16
6
36

In [4]:
print(l)
for i in l:
  if i%2==0:
    print(i)
    pass
    print(i**2)

[1, 2, 3, 4, 5, 6]
2
4
4
16
6
36

In [5]:
print(l)
for i in l:
  if i%2==0:
    print(i)
    pass
    print(i**2)

[1, 2, 3, 4, 5, 6]
2
4
4
16
6
36